<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">

          <div class="mb-md-5 mt-md-4 pb-5">

            <h2 class="fw-bold mb-2 text-uppercase">Авторизація</h2>
            <p class="text-white-50 mb-5">Будь ласка, введіть свій логін і пароль :)</p>

            <!-- Привязал форму к ТайпСкрипту. В ngSubmit - уже есть preventDefault -->
            <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
              <div class="form-outline form-white mb-4">

                <!-- Привязал инпут к ТайпСкрипту -->
                <input formControlName="email" type="email" id="typeEmailX" class="form-control form-control-lg"/>
                <label class="form-label" for="typeEmailX">Електронна пошта</label>

                <!-- Если эта форма заполнена некоректно и когда инпут не в фокусе - то показывать эту надпись.
                Тернарный оператор "?" нужен здесь для того чтобы проверить есть ли этот инпут  -->
                <p *ngIf="this.loginForm.get('email')?.invalid && this.loginForm.get('email')?.touched"><small class="text-danger">Необхідно вказати адресу електронної пошти</small></p>
              </div>

              <div class="form-outline form-white mb-4">

                <!-- Привязал инпут к ТайпСкрипту -->
                <input formControlName="password" type="password" id="typePasswordX" class="form-control form-control-lg"/>
                <label class="form-label" for="typePasswordX">Пароль</label>

                <!-- Если эта форма заполнена некоректно и когда инпут не в фокусе - то показывать эту надпись.
                Тернарный оператор "?" нужен здесь для того чтобы проверить есть ли этот инпут  -->
                <p *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched"><small class="text-danger">Потрібен пароль (мін. довжина = 8)</small></p>
              </div>

              <!-- Отключил кнопку если логин и пароль введены не верно -->
              <button [disabled]="loginForm.invalid" class="btn btn-outline-light btn-lg px-5" type="submit">Ввійти</button>
            </form>
          </div>
          <div>
            <p class="mb-0">Немаєте акаунту? <a routerLink="../registration" class="text-white-50 fw-bold">Зареєструватися</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

