<div class="col-10 mx-auto d-flex justify-content-center flex-wrap block gradient-custom">

  <!-- Добавил асинхронную операцию async -->
  <div
    class="card bg-dark text-white mt-5 p-4 "
    style="border-radius: 1rem"
    *ngFor="let user of personalList | async" 
  >
    <div class="card-body p-2 text-center ">
      <div>
        <h5>{{user.name}}</h5>

        <!-- Связываю кнопку с тайпскриптом -->
        <button class="btn btn-success " [routerLink]="['user', user.id]">
          Детальніше
        </button>
      </div>
    </div>
  </div>
</div>
